/*Card Trabajo*/
.card-proyecto{
    background-color:var(--gris);
    border-radius: 0.3rem;
    /* min-height: 20vh; */
}

/*Hover de las Card Educación*/
.card-proyecto:hover{
    background-color:var(--magenta);
}
.accordion-item, .accordion-button{
    background: none;
    background-color: transparent;
    outline: none;
    border: none;

}

