<div class="row mx-0 pb-5">

    <h2 class="pb-2 border-bottom apartado">Proyectos</h2>

    <!--Contenedor de las Card de Educación-->
    <div class="row px-0 mx-0 justify-content-center pt-3  justify-content-sm-start gap-2 abs-center">

        <!--Card iterada con For-->
        <div class="col-12 col-sm-5 text-center card-trabajo p-2 pt-3 align-content-center" *ngFor="let Proyectos of proye">
            
            <h5 class="gtexto m-0">{{Proyectos.nombreP}}</h5>
            
            <p class="card-text texto text-center p-0 m-0 pt-1">{{Proyectos.descripcionP}}</p>
            <p class="card-text texto text-center p-0 m-0 pt-1">{{Proyectos.fechaP}}</p>

             <!--Botones Git y Link del Proyecto-->
             <div class="abs-center gap-1 pt-2">
                <button class="btn-medium p-1 px-2 texto" >
                    <a class="text-white no-line" target="_blank" href="{{Proyectos.gitP}}">
                        <i class="fa-brands fa-github p-1"></i>Git
                    </a>
                    
                </button>
                <button class="btn-medium p-1 px-2  texto">
                    <a class="text-white no-line" target="_blank" href="{{Proyectos.linkP}}">
                        <i class="fa-brands fa-github p-1 "></i>Link
                    </a>
                </button>
               
            </div>

            <!-- <p class="card-text texto text-center p-0 m-0">{{Proyectos.imgP}}</p>  -->
            
            <!--Botones Editar y Borrar-->
            <div class="abs-center gap-1 pt-3" *ngIf="isLogged">
                <button class="btn-medium  p-1 texto " routerLink="/editproyecto/{{Proyectos.id}}" >
                    <i class="fa-regular fa-pen-to-square p-1"></i>Editar
                </button>
                <button class="btn-medium p-1  texto" (click)="delete(Proyectos.id)">
                    <i class="fa-regular fa-trash-can p-1"></i>Borrar
                </button>
            </div>

        </div>
    </div>  

    <div class="m-0 p-0 pt-3">
        <button class="btn-medium px-3 py-2 texto" type="button" routerLink="/nuevoproyecto" *ngIf="isLogged">Agregar Proyecto</button>
    </div>
</div>