/*Card Trabajo*/
.card-trabajo{
    background-color:var(--gris);
    border-radius: 0.3rem;
    min-height: 17vh;
    overflow-wrap: break-word;
    
}

/*Hover de las Card Educación*/
.card-trabajo:hover{
    background-color:var(--magenta);
}
.accordion-item, .accordion-button{
    background: none;
    background-color: transparent;
    outline: none;
    border: none;

}

