/*Deshabilitar resize del text area*/
textarea{resize: none;}

/*Espacio que abarca en pantalla el formulario de contacto*/
.contact-section{height: 81vh;}

.form-control{
    border: 2px solid var(--celesteclaro);}

input{
    padding: 0%;
}
.form-floating{
    padding-bottom: 0.5em;
}