/*Deshabilitar resize del text area*/
textarea{resize: none;}



.form-control{
    border: 2px solid var(--celesteclaro);}

input{
    padding: 0%;
}
.form-floating{
    padding-bottom: 0.5em;
}

.email:hover{
    transition: 0.4s;
    transform: scale(1.2);
}
.img-contact{
    height: calc(10em + 15vw);
}
.email {
    color:#fff;
    text-shadow: 3px 1px 2px var(--magentaopaco);
    font-size: calc(1em + 1.5vw);
}
.pregunta{
    font-size: calc(1em + 1.5vw);
}

.editSection{
    height: 91vh;
}
.contact-section{height: 81vh;}