<div class="m-0 px-2 editSection" >
    <!-- Formulario -->
    <div class="container contact-section abs-center">

        <div class="col col-md-10">
            <div class="row m-0">
                <div class="col col-md-6 p-0 m-0 abs-center justify-content-lg-end pe-md-5 pe-lg-0 pb-4 pb-md-0">
                    <div class="text-white text-center  m-0">
                        <h3 class="text-shadow pb-3 pt-2 text-center text-nowrap m-0 pregunta">¿Quieres trabajar juntos?</h3>
                        <p class="text-hover text-shadow email m-0">MariaMonchot@gmail.com</p>
                    </div>
                </div>
                <div class="col col-md-6 p-0 m-0 abs-center ps-md-5 ps-lg-0">
                    <img src="assets\images\id-card.png" alt="" class="img-contact">
                </div>
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>
</div>