/*Hover de los íconos Github y StackOverflow*/
.nav-link i:hover, .credits:hover, .nav-item:hover{
    color: var(--light);
    transition: ease-in 0.3s; }

/*Height*/
.footer{
    height: 9vh;}

ul{list-style: none;}
