<div class="container-fluid m-0 p-0 footer texto abs-center justify-content-sm-end">

    <ul class="row text-white abs-center m-0 gap-1 p-0 align-items-center text-center">

        <li class="col-12 col-sm-auto text-center"><p class="m-0 ">Maria Monchot-Desarrolladora Full Stack Junior</p></li>

        <li class="col">
            <a class="nav-link" href="https://github.com/KateClysm" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </li>

        <li class="col">
            <a class="nav-link" href="https://stackoverflow.com/users/20352686/maria-monchot" target="_blank">
                <i class="fa-brands fa-stack-overflow"></i>
            </a>
        </li>

        <li class="col">
            <a class="nav-link" href="https://www.linkedin.com/in/maria-monchot/" id="linkedin" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>

        <li class="col"> 
            <a class="nav-link credits py-0 d-flex align-items-baseline" routerLink="/Creditos">
                Créditos
                <i class="fa-solid fa-icons px-1 py-0"></i>
            </a>
        </li>

    </ul>
</div>