<div class="container-fluid my-0 py-0 footer footer-text g-0 d-flex align-content-md-end align-items-md-end justify-content-center justify-content-lg-end">

    <ul class="d-flex justify-content-center justify-content-lg-end px-2 m-0 pb-2 text-white" >
        <li><p class="text-sm m-0">Maria Monchot-Desarrolladora Full Stack Junior</p></li>
        <li><a class="nav-link px-2" href="https://github.com/KateClysm"><i class="fa-brands fa-github"></i></a></li>
        <li> <a class="nav-link px-2" href="https://stackoverflow.com/users/20352686/maria-monchot"><i
            class="fa-brands fa-stack-overflow"></i></a></li>
        <li> <a class="nav-link px-2" href="#" id="linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
        <li> 
            <a class="nav-link credits px-2 py-0 text-center" routerLink="/Creditos">
                Créditos
                <i class="fs-6 fa-solid fa-icons px-1 py-0"></i>
            </a>
        </li>
    </ul>
</div>