<div class="container-fluid abs-center editSection">
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="text-white col-5">

        <div class="form-floating pb-2">
            <input type="text" class="form-control" id="nombreE" name="nombreE" placeholder="Nombre de la Educación" [(ngModel)]="nombreE" required>
            <label for="nombreE"  class="text-muted">Nombre de la Educación</label>
        </div>

        <div class="form-floating pb-2">
            <input type="text" class="form-control" id="descripcionE" name="descripcionE" placeholder="Descripción de la Educación" [(ngModel)]="descripcionE" required>
            <label for="descripcionE"  class="text-muted">Descripción de la Educación</label>
        </div>

        <div class="form-floating pb-2">
            <input type="text" class="form-control" id="fechaE" name="fechaE" placeholder="Periodo de la Educación" [(ngModel)]="fechaE" required>
            <label for="fechaE"  class="text-muted">Periodo de la Educación</label>
        </div>

        <button class="btn-medium py-2 px-3">
            Agregar Educación
        </button>
    </form>
</div>