<div class="container-fluid abs-center row p-0 m-0 pt-5">

    <!--Foto y Título-->
    <div class="row abs-center p-0 px-2 px-md-4">

       <div class="col-5 m-auto col-sm-4 col-lg-2">
           <img src=".\assets\images\monitoring.png" class="img-section d-block mx-auto my-auto img-fluid mx-0 p-0 " alt="Persona usando computadora">
       </div>

       <div class="col text-white p-0 pe-2 pe-md-5">
           <h2 class="titulo text-shadow">Experiencia y Proyectos</h2>
       </div>
   </div>
   
   <!--Row para las Secciones-->
   <div class="row d-flex justify-content-sm-end justify-content-center py-3 px-0 px-2 px-md-4 m-0">

       <!--Línea Decorativa-->
       <div class="vr col-2 col-lg-1 d-none justify-content-lg-start p-0  px-md-1 d-sm-flex justify-content-end "></div>

        <!--Secciones-->
        <div class="col col-sm-10 col-lg-11 text-white justify-content-center pt-3 pt-lg-5 pb-5 m-0">

            <!-- <app-experiencia></app-experiencia> --> 
            
            <!--Row Proyectos-->
            <div class="row mx-0 px-lg-2 pb-5">

                <h2 class="pb-2 border-bottom apartado">Proyectos</h2>
            
                <div class="row px-0 mx-0 justify-content-center pt-3  justify-content-sm-start gap-2 gap-lg-3">
            
                    <div class="col-auto  col-sm-5 col-md-4 col-lg-3 text-center  card-proyecto p-1 texto">
                        <div class="card-image">
                            <img src=".\assets\images\cozydesk.jpg" class="card-img-top" width="100%" height="50%" >
                        </div>
    
                        <div class="card-body p-0 text-white">
                            <h5 class="pt-2 subtitulo">Nombre del Proyecto</h5>
                            <p class="card-text mb-0 pb-2">Descripción corta del proyecto</p>
                            <p class="card-text pb-2">00/00/0000</p>
                        </div>


                        <div class="abs-center">
                            <button class="btn-medium  p-1">
                                Ver Proyecto
                            </button>
                            <button class="btn-medium p-1 " >
                                <i class="fa-brands fa-github p-1"></i>Ver Código
                            </button>
                        </div>
                    </div> 
             

                    

                </div> 
            </div>
        </div>

    </div>

    <app-footer></app-footer>
</div>