.container-home{
    background-image: url(src\assets\images\pexels-kate-trifo-4057061.jpg);
    background-repeat: no-repeat;
    background-size: cover;}

.home{height: 85vh;}

.credits{height: 5vh;}

.credits:hover, .nav-item:hover{
    color: var(--light);
    transition: ease-in 0.3s; }

a{text-decoration: none;}