<!-- Barra de Navegación expansible a partir de dispositivos large -->
<nav class="navbar navbar-expand-lg navbar-dark mt-0 py-0 sticky-top" aria-label="Offcanvas navbar large">
    <!-- Contenedor Fluido -->
    <div class="container-fluid p-2 px-3 ps-lg-5 fondo-nav">
  
      <!-- ícono Plan Programar -->
      <a class=" navbar-brand pe-3" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">
        <img  src="assets/images/APLogo.png" alt="Logo Plan Programar Argentina"  class="logo-Plan">
      </a>
    
      <!-- Toggler -->
      <button class="navbar-toggler p-1 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Offcanvas -->
      <div class="offcanvas offcanvas-end bg-offcanvas-nav " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  
        <!-- Offcanvas Header -->
        <div class="offcanvas-header justify-content-center">
          <!-- Título dentro del nav  -->
          <h5 class="offcanvas-title py-3 text-white fs-6 text-center" id="offcanvasNavbarLabel">Web Developer Maria Monchot</h5>
        </div>
  
        <!-- Offcanvas Body -->
        <div class="offcanvas-body">
          <!-- Lista Desorganizada -->
          <ul class="navbar-nav gap-2 gap-lg-3 align-items-center justify-content-center gtexto">
            <!-- Ítems -->
            <li class="nav-item ">
              <a class="nav-link" aria-current="page" routerLink="/Inicio">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Sobre-Mi">Sobre mí</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Experiencia-Y-Proyectos">Experiencia y Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Contacto">Contacto</a>
            </li>            
            <li class="nav-item">
              <button type="button" class="btn-medium px-2 py-1" (click)="login()" *ngIf="!isLogged">Ingreso</button>
              <button type="button" class="btn-medium px-2 py-1" (click)="onLogOut()" *ngIf="isLogged">Retirada</button>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="https://github.com/KateClysm" id="github" target="_blank"><i class="fs-4 fa-brands fa-github"></i></a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="https://stackoverflow.com/users/20352686/maria-monchot" id="stackoverflow" target="_blank"><i class="fs-4 fa-brands fa-stack-overflow"></i></a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="https://www.linkedin.com/in/maria-monchot/" id="linkedin" target="_blank"><i class="fs-4 fa-brands fa-linkedin" target="_blank"></i></a>
            </li>
            <li class="nav-item">
              <!-- Botón de cerrado -->
              <button type="button" class="btn-close btn-close-white p-3 fs-4 d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </li>
          </ul>
          
        </div>
  
      </div>
  
    </div>
  
  </nav>
  