<div class="editSection container-fluid d-grid">

    <div class="credits-section abs-center ">
        <div class="container-fluid fondo-credits  rounded-3 col-11">

            <h2 class=" text-shadow text-white text-center text-lg-start border-bottom border-1 pt-lg-5 pb-2">Créditos</h2> 
  
            <div class="row text-white texto pt-3 ">
    
                <div class="col-12 col-sm-6">
                    <h4 class="apartado ">De Flaticon:</h4>
                    <ul class="list-unstyled texto">
                        <li class="pb-3">
                            <p class="subtitulo">Persona con bata y café</p>
                            <p>Usada en sección "Sobre mí"</p>
                            <a class="credit-link" target="_blank"  href="https://www.flaticon.com/free-stickers/spa" title="spa stickers">Spa stickers created by Stickers - Flaticon</a>
                        </li>
    
                        <li class="pb-3">
                            <p class="subtitulo">Trabajo</p>
                            <p>Usada en sección "Experiencia"</p>
                            <a class="credit-link" target="_blank"  href="https://www.flaticon.com/free-stickers/people" title="people stickers">People stickers created by Stickers - Flaticon</a>
                        </li>

                        <li class="pb-3">
                            <p class="subtitulo">404</p>
                            <p>Usada en sección "404"</p>
                            <a class="credit-link" target="_blank"  href="https://www.flaticon.com/free-icons/404-error" title="404 error icons" >404 error icons created by Ghozi Muhtarom - Flaticon</a>
                        </li>  

                        <li class="pb-3">
                            <p class="subtitulo">Maletín</p>
                            <p>Usado en el "favicon" de la página</p>
                            <a class="credit-link" target="_blank" href="https://www.flaticon.com/free-icons/briefcase" title="briefcase icons">Briefcase icons created by Those Icons - Flaticon</a>
                        </li>  

                        <li class="pb-3">
                            <p class="subtitulo">Información de Contacto</p>
                            <p>Usada en la sección "Contacto"</p>
                            <a class="credit-link" target="_blank" href="https://www.flaticon.com/free-stickers/contact-information" title="contact information stickers">Contact information stickers created by inipagistudio - Flaticon</a>
                        </li> 
                    </ul>
                </div>
    
                <div class="col-12 col-sm-6">
                    <h4 class="apartado">De Pexels:</h4>
                    <ul class="list-unstyled texto">
                        <li  class="pb-3">
                            <p class="subtitulo">Escritorio</p>
                            <p>Usada en sección "Inicio"</p>
                            <a class="credit-link"  target="_blank" href="https://www.pexels.com/es-es/foto/cafe-apple-escritorio-oficina-4057061/" title="spa stickers">Foto de Kate Trifo de Pexels</a>
                        </li>                       
                    </ul>
                </div>
                
            </div>
        </div>  
    </div>

    <div class="align-self-end">
        <app-footer></app-footer>
    </div>
</div>
