*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;}


/*Paleta de colores*/
:root{
    --gris: #babecb67;
    --magentaopaco: #98112efc;
    --magenta: #b0092dc8;
    --celesteclaro:#8dadb0;
    --azulopaco: #003e46;
    --azultransparente: #167e8c5f;
    --oscurotop: #0f1b27;
    --oscuro: #000b18;}

/*imágenes en sobre mí y experiencia*/
.img-section{width: 280px;}

/*botón usado en inicio, contacto y login*/
.btn-medium{
    background-color: var(--magenta);
    color: #fff;
    text-shadow: 0px 2px 2px var(--oscuro);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;}
.btn-medium:hover{
    background-color: var(--azultransparente);
    transition: ease-in 0.3s;} 


/*Text Shadow*/
.text-shadow{text-shadow: 0px 2px 2px var(--oscuro);}

/*Secciones de edición*/
.editSection{
    height: 90vh;}

/*Fondo general*/
body{background: linear-gradient(var(--oscuro), var(--celesteclaro));
    height: 100%;
    background-attachment:fixed;
    background-size: cover;
}

/*Formularios*/
.form-control{outline: none;}

/*Centrado Absoluto*/
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;}

/*Responsive font size*/
.titulo{font-size: calc(1.2em + 0.1vw);}
.apartado{font-size: calc(1em + 0.8vw);}
.gtexto{font-size: calc(0.9em + 0.2vw);}
.texto{font-size: calc(0.8em + 0.1vw);}
